<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small class="text-white">Copyright &copy; <%= link_to "ALPHA BLOG", "https://guides.rubyonrails.org/v7.1/", class: "text-white" %></small>
  </div>
</footer>